<form action='/articles' method="post">
    <label for="title">Article Title:</label>
    <input type="text" name="title" id="title">
    <label for='content'>Article Content:</label>
    <input type="text" name="content" id="content">
    <input name="submit" type="submit" id="submit">
</form>
